<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Login Page</title>
</head>
<body>
    <form action="{{ url_for('register') }}" method="post">
    <div class="container">
        <h2>Register Here</h2>
        <label for="fullname">Full Name</label>
        <input type="text" name="fullname" id="fullname" placeholder="Enter fullname"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" placeholder="Enter Email"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Enter password"><br>
        <button type="submit" onclick="onclickedalert()">Sign Up</button><br>
    </div>
    </form>
</body>
</html>